*{
		box-sizing: border-box;
	}
	html, body{
		height: 100%;
		width: 100%;
		text-align: center;
		background-color: #0E5DA6;
	}
	main{
		color: #fff;
		height: 100%;
	}
	section{
		height: auto;
		padding: 4em 2em;
		position: relative;
		width: 100%;
		background-color: #0E5DA6;
	}
	header{
		background-color: #00004d;
		padding: 1em 2em;
		width: 100%;
		height: 80px;
	}
	.h{
		float: left;
		width: 25%;
		text-decoration: none;
		color: #fff;
		margin-top: 0;
	}
	h1{
		margin: 0;
	}
	nav{
		float: right;
		text-align: right;
		width: 70%;
	}

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li{
		border-right: 0.03125em solid rgba(255,255,255,1);
		display: inline-block;
		padding: 0.5em 1em;
	}
	ul li a{
		color: #fff;
		font-size: 0.95rem;
		font-weight: 500;
		letter-spacing: 0.3rem;
		padding: 0.5em 1em;
		text-decoration: none;
		text-transform: uppercase;
		transition: prop time;
	}
	ul li a:hover, ul li a:active{
		color: rgba(0,0,255,0.6);
	}
	ul li:nth-last-of-type(1){
		border-right: none;
	}
	/*
	.ini, .gratis{
		font-size: 2.5em;
		text-transform: uppercase;
	}
	.formulario{
	    margin: 0 auto;
	    text-align: center;
	}
	input[type=email], input[type=text], textarea, select{
	  width: 250px;
	  padding: 8px 16px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

	table {
		margin-top: 50px;
	  	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  //border-collapse: collapse;
	 	width: 100%;
	}

	table td, table th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	table tr:nth-child(even){background-color: #1a9edb;}

	table tr:hover {background-color: #ddd;}
	table .header{
		background-color: #00004d;
	}
	.right{
		float: right;
	}
	.left{
		float: left;
	}
	.f{
		width: 600px;
	}
/*	.btn , .btn-verde {
	  background-color: #f1f1f1;
	  color: #0E5DA6;
	  font-size: 16px;
	  padding: 12px 26px;
	  border: none;
	  cursor: pointer;
	  border-radius: 5px;
	  text-align: center;
	}
	.btn-tst{
	  background-color: #f1f1f1;
	  color: #0E5DA6;
	  font-size: 16px;
	  padding: 6px 20px;
	  border: none;
	  cursor: pointer;
	  border-radius: 5px;
	  text-align: center;
	}

	.btn:hover {
	  background-color: rgba(0,0,255,0.6);
	  color:#fff;
	}
	.btn-verde:hover {
	  background-color: #00b300;
	  color:#fff;
	}
	.eliminar{
		font-size: 25px;
		margin-left: 10px;
		color: red;
		text-decoration: none;
		cursor: pointer;
	}

	.list-pregunt div{
		display:inline-block;
		width:95px;
	}
	footer{
		background-color: #00004d;
		color: #fff;
		font-size: 0.8rem;
		font-weight: 500;
		padding: 0.4em 1em;
		text-align: center;
		width: 100%;
		position: fixed;
		bottom: 0%;
		left: 0%;
	}
	a{
		text-decoration: none;
	}*/